@font-face {
    font-family: 'Norse Bold';
    src: url(assets/Norse-Bold.otf);
}

body {
    margin: 0;
}

#page-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#background-container {
    background-image: url(assets/background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 0 0 33%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

    #logo-container {
        background-color: rgba(24, 24, 24, 0.5);
        margin-top: 25vh;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

        #odin-text {
            font-family: 'Norse Bold';
            color: white;
            margin: 0;
            font-size: 24em;
        }

    #background-image-credits {
        color: white;
        font-size: 2.5em;
        margin-top: auto;
    }

#form-container {
    flex: 0 0 66%;
}